{% spaceless %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<title>{{issue.tweetId}}</title>
		<meta name="author" content="Kaweechelchen" />
	</head>
	<body>
		<div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Debugging Tweet <a href="https://twitter.com/TravelAlertsLu/status/{{issue.tweetId}}" target="_blank">{{issue.tweetId}}</a></h3>
      </div>

      <div class="row">
        <div class="col-md-8">
          {% for newTweet in issue.freshGeneration %}
            <div class="well">
          		<h4>Tweet {{ loop.index }}</h4>
            	<h3>{{ newTweet|nl2br }}</h3>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-4">
          <div class="well">
            <h4>Original tweet</h4>
            <h3>{{ issue.tweet|nl2br }}</h3>
          </div>
        </div>
      </div>

      <div class="row marketing">
        <div class="col-md-4">
          <h4>Issue id</h4>
          <p>{{issue.id}}</p>
        </div>
        <div class="col-md-4">
        	<h4>line</h4>
          <p>{{issue.line}}</p>
        </div>
        <div class="col-md-4">
        	<h4>time scraped</h4>
          <p>{{issue.time_added}}</p>
        </div>
        <div class="col-md-6">
          <h4>title</h4>
          <pre>{{issue.title}}</pre>
        </div>
        <div class="col-md-6">
        	<h4>description</h4>
          <pre>{{issue.description}}</pre>
        </div>

    </div> <!-- /container -->
	</body>
</html>
{% endspaceless %}
